#containerPaginaConfirmacao {
    display: flex;

    width: 100%;
    height: 100vh;

    align-items: center;
    justify-content: center;
}

#containerFormularioPaginaConfirmacao {
    width: 70%;
    height: 70%;

    border: 1px solid black;
    border-radius: 25px;
}

#boxTextoPaginaConfirmacao {
    display: flex;

    width: 100%;
    height: 20%;

    justify-content: center;
    align-items: center;
}

#tituloStylePaginaConfirmacao {
    font-size: 29px;
    font-weight: 700;
}

#boxFormularioPaginaConfirmacao {
    display: flex;

    width: 100%;
    height: 60%;
}

#boxDireitaFormularioPaginaConfirmacao {
    display: flex;

    width: 50%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

#boxEsquerdaFormularioPaginaConfirmacao {
    display: flex;
    flex-direction: column;

    width: 50%;
    height: 100%;
}

#boxBotaoPaginaConfirmacao {
    display: flex;

    width: 100%;
    height: 20%;

    align-items: center;
    justify-content: center;
}

#boxTituloFormularioPaginaConfirmacao {
    display: flex;

    width: 100%;
    height: 20%;

    justify-content: center;
    align-items: center;
}

#subTituloStyleFormularioPaginaConfirmacao {
    font-size: 21px;
}

#boxFormularioBotaoPaginaConfirmacao {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 80%;

    justify-content: center;
    align-items: center;
}

#inputTextoStylePaginConfirmacao {
    font-size: 16px;

    margin-bottom: 3em;
}

#inputStylePaginaConfirmacao {
    width: 25em;

    margin-left: 5px;

    border: 0;
    border-bottom: 1px solid black;
}

#inputStylePaginaConfirmacao:focus {
    outline: none;
}

#tabelaFormularioPaginaConfirmacao {
    border-collapse: collapse;
    width: 80%;
    height: 25%;
}

th, td {
    border: 1px solid;
}

#valorDadosTabelaFormularioPaginaConfirmacao {
    width: 80%;

    align-items: flex-start; 
}