#containerPaginaConfirmacao {
    display: flex;

    width: 100%;
    height: 100vh;

    align-items: center;
    justify-content: center;
}

#containerFormularioPaginaConfirmacao {
    width: 70%;
    height: 70%;

    border: 1px solid black;
    border-radius: 25px;
}

#boxTextoPaginaConfirmacao {
    display: flex;

    width: 100%;
    height: 20%;

    justify-content: center;
    align-items: center;
}

#tituloStylePaginaConfirmacao {
    font-size: 29px;
    font-weight: 700;
    text-align: center;
}

#boxFormularioPaginaConfirmacao {
    display: flex;

    width: 100%;
    height: 60%;
}

#boxDireitaFormularioPaginaConfirmacao {
    display: flex;
    flex-direction: column;

    width: 50%;
    height: 100%;

    padding: 15px;

    justify-content: center;
    align-items: center;
}

#boxEsquerdaFormularioPaginaConfirmacao {
    display: flex;
    flex-direction: column;

    width: 50%;
    height: 100%;
}

#boxBotaoPaginaConfirmacao {
    display: flex;

    width: 100%;
    height: 20%;

    align-items: center;
    justify-content: center;
}

#boxTituloFormularioPaginaConfirmacao {
    display: flex;

    width: 100%;
    height: fit-content;

    margin-top: 1em;

    justify-content: center;
    align-items: center;
}

#subTituloStyleFormularioPaginaConfirmacao {
    font-size: 21px;
}

#errorMensagemPaginaConfirmacao {
    color: red;
    display: flex;

    width: 100%;
    height: fit-content;

    margin-top: 1.5em;

    align-items: center;
    justify-content: center;

    font-size: 15px;
}

#boxFormularioBotaoPaginaConfirmacao {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 80%;

    justify-content: center;
    align-items: center;
}

#inputTextoStylePaginConfirmacao {
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: 1em;
}

#inputStylePaginaConfirmacao {
    width: 25em;

    margin-left: 5px;

    border: 0;
    border-bottom: 1px solid black;
}

#inputStylePaginaConfirmacao:focus {
    outline: none;
}

#tabelaFormularioPaginaConfirmacao {
    border-collapse: collapse;
    width: 80%;
    height: 25%;
}

th, td {
    border: 1px solid;
}

#valorDadosTabelaFormularioPaginaConfirmacao {
    width: 80%;

    align-items: flex-start; 
}

#boxCheckboxPaginaConfirmação {
    display: flex;

    width: 100%;
    height: fit-content;

    margin-top: 3em;

    align-items: center;
    justify-content: center;
}

#boxCheckboxPaginaConfirmação label {
    margin-left: 15px;

    font-size: 12px;
}

#botaoStylePaginaConfirmacao {
    background-color: transparent;

    width: 10em;
    height: 2.5em;

    margin-top: 5.5em;

    border: 1px solid black;
    border-radius: 25px;

    transition: 200ms;
}

#botaoStylePaginaConfirmacao:hover {
    background-color: black;
    color: white;

    cursor: pointer;
}

.lds-ripple2 {
    display: flex;
    position: relative;
    
    width: 7.5em;
    height: 7.5em;

    margin-top: 3em;

    justify-content: center;
    align-items: center;

    z-index: 6;
  }

.lds-ripple2 div {
  position: absolute;
  border: 2px solid black;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple2 div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple2 {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

@media screen and (max-width: 1366px){
    #botaoStylePaginaConfirmacao {
        margin-top: 1em;

        height: 2em;
    }

    #boxFormularioBotaoPaginaConfirmacao {
        height: 90%;
    }
}

@media screen and (max-width: 1024px) {
    #botaoStylePaginaConfirmacao {
        height: 1.9em;

        font-size: 11px;
    }

    #inputStylePaginaConfirmacao {
        width: 70%;
    }
}

@media screen and (max-width: 822px) {
    #boxFormularioPaginaConfirmacao {
        flex-direction: column;
    }

    #boxFormularioPaginaConfirmacao #boxEsquerdaFormularioPaginaConfirmacao {
        width: 100%;

        border: 0;
    }

    #boxFormularioPaginaConfirmacao #boxDireitaFormularioPaginaConfirmacao {
        width: 100%;

        border: 0;
    }
}